<form id="create-presentation-form">
              <div class="form-floating mb-3">
                <input placeholder="Presenter name" required type="text" name="presenter_name" id="presenter_name" class="form-control">
                <label for="name">Presenter name</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="Presenter email" required type="text" name="presenter_email" id="presenter_email" class="form-control">
                <label for="presenter_email">Presenter email</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="company_name" required type="text" name="company_name" id="company_name" class="form-control">
                <label for="company_name">Company name</label>
              </div>
              <div class="form-floating mb-3">
                <input placeholder="title" required type="text" name="title" id="title" class="form-control">
                <label for="title">Title</label>
              </div>
              <div class="mb-3">
                <label for="synopsis" class="form-label">Synopsis</label>
                <textarea required id="synopsis" name="synopsis" class="form-control" rows="3"></textarea>
              </div>
              <div class="mb-3">
                    <select required id="conference" name="conference" class="form-select">
                        <option selected value="">Choose a Conference</option>
                    </select>
                </div>
              <button class="btn btn-primary">Create</button>
            </form>
            <div></div>
            <div class="alert alert-success d-none mb-0" id="success-message">
                Congratulations! New Presentation Created!
            </div>
